pandas
matplotlib
#netCDF4
folium
lxml
nltk
tdda
git+git://github.com/tdda/pmmif.git
matplotlib
Bokeh
cython
pyarrow
feather-format
pomegranate
autograd
patsy
scikit-learn 
scipy 
git+git://github.com/cvxgrp/cvxpy.git@1.0
cvxopt 
#glpk 
keras 
tensorflow 
ecos==2.0.5
multiprocess 
scs
pandas_profiling